main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2vw;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  align-self: center;
}

app-creation-offre-form {
    padding-left: 15vw;
    padding-right: 15vw;
}
