* {
  font-family: 'open sans', sans-serif;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 15vh;
  margin-bottom: 3.5vh;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3vh;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3.5vh;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #49a255;
  color: white;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 100ms ease-in-out;
}

/* Partie présentation */

.presentation-container {
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 2vw;
  margin-bottom: 15vh
}

video {
  width: 70%;
}

.video-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: end;
  justify-content: center;
  gap: 2vh
}


/* Partie événements */

.evenements,
.nos-avis {
  background-color: #001508;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

.evenements-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: auto;
  width: 100%;
  padding: 5vh 10vw 5vh 10vw;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 30px;
  transition: transform 0.3s;
  color: black;
}

  .card:hover {
    transform: translateY(-10px);
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .card h5 {
    font-size: 2rem;
    margin-top: 1.4vh;
  }


/* Partie cohésion */

.page-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  gap: 5px;
  padding-left: 15vw;
  padding-right: 5vw;
  margin-bottom: 10vh;
  height: 600px;
}

  .page-container img {
    height: 100%;
    transition: 500ms ease-in-out;
    filter: grayscale(50%);
  }

    .page-container img:hover {
      height: 102%;
      object-fit: cover;
      filter: none;
    }

    .page-container img:first-child {
      grid-column: 1;
      grid-row-start: 1 / 3;
      width: 100%;
      object-fit: cover;
      object-position: 50% 60%;
    }

    .page-container img:last-child {
      grid-column: 2;
      grid-row-start: 2;
      object-fit: contain;
      overflow: hidden;
    }

#img3 {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}



.cohesion-container {
  display: flex;
  justify-content: center;
  border: 2px solid #8C8989;
  height: 300px;
  width: 65%;
  gap: 150px;
  margin-bottom: 80px; /* Augmentation de la marge */
  background-color: #C5C5A9;
  align-items: center;
  padding: 30px; /* Ajout de padding */
}

/* Partie carousel avis */




/* Partie "ils nous ont fait confiance" */

.confiance-wrapper {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: 80px; /* Augmentation de la marge */
  padding: 30px; /* Ajout de padding */
}
