<website-header></website-header>

<main>
  <h3>Nos offres</h3>

  <a href="/admin/ajoutrandonnee"><button class="ajout-rdn"></button></a>

<section class="sejours_courts">
  <h1>Séjours courts</h1>
  <div class="cardSejourCourt">
    <div *ngFor="let randonnee of randonnees">
      <div class="card" *ngIf="(randonnee.duree < 72) && dateParse(randonnee.date) > today">
        <img src="https://placehold.co/600x400/000000/FFFFFF/png" alt="Image 1" />
        <h3 id="titreCard">{{randonnee.name}}</h3>
        <p class="descriptif_offre">
          <b>Description :</b><br />
          {{ randonnee.description }}
        </p>
        <h4>{{ randonnee.date }} </h4>
        <h4>{{ randonnee.duree >= 24 ? (randonnee.duree / 24).toFixed(0) + " jours" + (randonnee.duree % 24 ? " " + randonnee.duree % 24 + " heures." : ".") : "1 jour." }}</h4>
        <h4>{{ randonnee.prixTotal }} TTC</h4>
        <button class="reservation-btn">Réservation</button>
      </div>
    </div>
  </div>
</section>

<section class="sejours_longs">
  <h1>Séjours longs</h1>
  <div class="cardSejourCourt">
    <div *ngFor="let randonnee of randonnees">
      <div class="card" *ngIf="(randonnee.duree > 72)">
        <img src="https://placehold.co/600x400/000000/FFFFFF/png" alt="Image 1" />
        <h3 id="titreCard">{{randonnee.name}}</h3>
        <p class="descriptif_offre">
          <b>Description :</b><br />
          {{ randonnee.description }}
        </p>
        <h4>{{ randonnee.date }} </h4>
        <h4>{{ (randonnee.duree / 24).toFixed(0) + " jours" + (randonnee.duree % 24 ? " " + randonnee.duree % 24 + " heures." : ".") }}</h4>
        <h4>{{ randonnee.prixTotal }} TTC</h4>
        <button class="reservation-btn">Réservation</button>
      </div>
    </div>
  </div>
  <button id="devis"><a href="/contact">Demander votre devis</a></button>
</section>
</main>
<website-footer></website-footer>
