/* Partie globale */

* {
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
}

h3 {
    text-align: center;
    font-size: 3rem;
    padding-top: 10vh;
}

h1 {
    margin-bottom: 5vh;
}

.ajout-rdn {
  color: #65b173;
  width: 50px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 300;
  display: block;
  margin-top: 2vh;
  margin-left: 48vw;
  border: solid 2px #65b173;
  border-radius: 50px;
  background-color:transparent;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.ajout-rdn:before {
  content: '+';
}
  .ajout-rdn:hover {
    transform: scale(1.2);
    border: solid 2px transparent;
  }


section {
  display: flex;
  flex-direction:column;
  align-items:center;
  height: auto;
  width: 100%;
  padding: 10px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.sejours_longs{
  background-color: #001508;
}

.sejours_longs h1 {
    color: white;
}

button:hover {
  background-color: #2e4a32;
}

.img_sejourGroupe button {
  background-color: #3a5a40;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 90px;
  transition: 500ms ease-in-out;
}

.img_sejourGroupe button:hover {
  background-color: #65b173;
}

/* Partie randonnée */

.offre-randonnees {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 40px;
  margin: 15px;
}

.offre-randonnees p {
  font-size: 2.5rem;
  margin-bottom: 80px;
  color: #3a5a40;
  letter-spacing: 1px;
}

.img_sejourGroupe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  gap: 25px
}

.img_sejourGroupe img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.img_sejourGroupe img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#devis {
  height: 50px;
  width: 300px;
  background-color: #3a5a40;
  color: white;
  font-size: 20px;
  border: none;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 30px;
  transition: 500ms ease-in-out;
}

#devis:hover {
  background-color: #65b173;
}

.sejours_courts{
    width: 100%;
}

/* Partie container / images */

.cardSejourCourt,
.cardSejourLong {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 30px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h3 {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  padding-top: 1vh;
}

.card p {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
}

.card h4 {
  font-size: 1rem;
  color: #666;
}

  .card .reservation-btn {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
  }

.card .reservation-btn:hover {
    color: white;
}

