<section class="container">

  <a href="/"><p> <b><</b> Page d'accueil</p></a>
       <h3>Information Personelles</h3>
  <form>
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required
             name="nom" />


              <label for="prenom">Prenom</label>
              <input type="text" class="form-control" id="prenom" required name="prenom" />

              <label for="email">Mail</label>
              <input type="mail" class="form-control" id="email" required name="email" />

              <label for="numero-tel">Téléphone</label>
              <input type="tel" class="form-control" id="numero-tel" required name="numero-tel">

              <input type="submit" class="submit" />
       </form>

</section>
