h2{
  display:flex;
  justify-content:center;
}

form {
  display: grid;
  border-right: solid 3px black;
  justify-content: center
}

input {
  height: 30px;
  font-size: 1.2rem;
}

.submit {

  margin-top: 1vh;
}

textarea {
  height: 140px;
  font-size: 1.2rem;
}

label {
  font-size: 1.5em;
  margin-bottom: 0.8vh;
}
