<div class="container">

  <h2>Information Personelles</h2>

  <form>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required
             name="nom" placeholder="{{Randonneur.Nom}}" />
    </div>

    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" class="form-control" id="prenom" required
             name="prenom" />
    </div>

    <div class="form-group">
      <label for="email">Mail</label>
      <textarea type="text" class="form-control" id="email" required
                name="email"> </textarea>
    </div>

    <div class="form-group">
      <label for="numero-tel">Téléphone</label>
      <textarea type="number" class="form-control" id="numero-tel" required
                name="numero-tel"> </textarea>
    </div>
  </form>
  <input type="submit" class="submit" />
</div>

