.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 70vw;
}

form {
  grid-column: 1 / 5;
}

  form div {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: center;
  }

input {
  height: 30px;
  font-size: 1.2rem;
}

.submit {
  grid-column: 4;
  margin-top: 1vh;
}

textarea {
  height: 140px;
  font-size: 1.2rem;
}

label {
  font-size: 1.5em;
  margin-bottom: 0.8vh;
}
