<!-- Hero Page -->

<nav class="hero-page_container">
  <div class="hero-page_content">
    <h1 class="hero-page_title">Marche & Deviens</h1>
    <h2 class="hero-page_subtitle"><i>Un  retour à l'essentiel...</i></h2>
    <div class="btn-container">
      <a href="/contact"><p class="boutons">Professionnels</p></a>
      <a href="/offreRandonnees"><p class="boutons">Particuliers</p></a>
      <a href="/contact"><p class="boutons">Offre sur mesure</p></a>
      <a href="/about"><p class="boutons">A propos</p></a>
    </div>
  </div>
</nav>


