<!-- Import de police -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleaProfessionnelspis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<!-- Hero Page -->

<nav class="hero-page_container">
    <div class="hero-page_content">
        <h1 class="hero-page_title">Marche & Deviens</h1>
        <h2 class="hero-page_subtitle"><i>ou le retour à l'essentiel...</i></h2>
        <div class="btn-container">
            <p class="boutons">Professionnels</p> 
            <p class="boutons">Particuliers</p>
        </div>
    </div>
</nav>


<!-- Présentation vidéo -->
<h1 class="presentation-title"><strong>Présentation</strong></h1>
<nav class="presentation-container">
    <div class="video-container">Vidéo
        <!-- insérer lien de la vidéo -->
    </div>
    <div class="video-info">
        <p class="video-description">lorem ipsum dolor sit amet</p>
        <button class="btnEnSavoirPlus">En savoir plus</button>
    </div>
</nav>


<!-- Nos événements -->

<h1 class="evenements-title"><strong>Nos événements</strong></h1>

<div class="evenements-wrapper">
    <nav class="evenements-container">
        <div class="evenement-image-title">Image du lieu</div>
        <img class="image-evenement" src="path/to/image1.jpg" alt="(insérer image du lieu)">
        <div class="details-evenement">
            <p>Titre</p>
            <p>Description</p>
            <p>Date</p>
            <p>Tarif</p>
        </div>
    </nav>

    <nav class="evenements-container">
        <div class="evenement-image-title">Image du lieu</div>
        <img class="image-evenement" src="path/to/image2.jpg" alt="(insérer image du lieu)">
        <div class="details-evenement">
            <p>Titre</p>
            <p>Description</p>
            <p>Date</p>
            <p>Tarif</p>
        </div>
    </nav>
</div>

<div class="divBtnDevis">
    <button class="btnDevis">Demandez votre devis</button>
</div>

    
<!-- Venez seuls et repartez en groupe -->

<h1 class="venez-seuls-title"><strong>Venez seuls et repartez en groupe !</strong></h1>
<h2 class="venez-seuls-subtitle"><i>La cohésion en image...</i></h2>
<div class="page-container">
    <div class="cohesion-container">
    </div>
</div>

 <!-- Carousel Avis -->

<h1 class="carousel-title">Nos avis</h1>
 <div class="page-container">
    <div class="carousel-container">
    </div>
</div>

 <!-- Ils nous ont fait confiance -->

<h1 class="confiance-title">Ils nous ont fait confiance</h1>
<div class="confiance-wrapper">
    <div class="confiance-container"></div>
    <div class="confiance-container"></div>
    <div class="confiance-container"></div>
</div>

 <!-- footer, plus tard -->