<div class="container">
  <!-- Formulaire de création d'offre -->
  <form #form="ngForm" (submit)="onSubmit(form)">

    <!-- Groupe de champs pour la date de la randonnée -->
    <div class="form-group">
      <label for="date">Date de la randonnée</label>
      <input type="date" class="form-control" id="date"
            name="date" #date="ngModel"
            [(ngModel)]="service.FormData.Date" required />
    </div>

    <!-- Groupe de champs pour le pays -->
    <div class="form-group">
      <label for="pays">Pays</label>
      <input type="text" class="form-control" id="pays"
            name="pays" #pays="ngModel"
            [(ngModel)]="service.FormData.Pays" required />
    </div>

    <!-- Groupe de champs pour la région -->
    <div class="form-group">
      <label for="region">Région</label>
      <input type="text" class="form-control" id="region"
            name="region" #region="ngModel"
            [(ngModel)]="service.FormData.Region" />
    </div>

    <!-- Groupe de champs pour la commune de départ -->
    <div class="form-group">
      <label for="ville">Commune de départ</label>
      <input type="text" class="form-control" id="ville"
            name="ville" #ville="ngModel"
            [(ngModel)]="service.FormData.Ville" required />
    </div>

    <!-- Groupe de champs pour le prix total -->
    <div class="form-group">
      <label for="prixTotal">Prix total</label>
      <input type="number" class="form-control" id="prix"
            name="prixTotal" #prixTotal="ngModel"
            [(ngModel)]="service.FormData.PrixTotal" required />
    </div>

    <!-- Groupe de champs pour la durée -->
    <div class="form-group">
      <label for="duree">Durée</label>
      <input type="text" class="form-control" id="duree"
            name="duree" #duree="ngModel"
            [(ngModel)]="service.FormData.Duree" required />
    </div>

    <!-- Groupe de champs pour le nombre minimum de participants -->
    <div class="form-group">
      <label for="nb-min-participants">Nombre minimum de participants</label>
      <input type="number" class="form-control" id="nb-min-participants"
            name="nb-min-participants" #nombreMinPersonnes="ngModel"
            [(ngModel)]="service.FormData.NombreMinPersonnes" required />
    </div>

    <!-- Groupe de champs pour le nombre maximum de participants -->
    <div class="form-group">
      <label for="nb-max-participants">Nombre maximum de participants</label>
      <input type="number" class="form-control" id="nb-max-participants"
            name="nb-max-participants" #nombreMaxPersonnes="ngModel"
            [(ngModel)]="service.FormData.NombreMaxPersonnes" required />
    </div>

    <!-- Groupe de champs pour le nom de la randonnée -->
    <div class="form-group">
      <label for="nom">Nom de la randonnée</label>
      <input type="text" class="form-control" id="nom"
            name="nom" #nom="ngModel"
            [(ngModel)]="service.FormData.Name" required />
    </div>

    <!-- Groupe de champs pour la description de la randonnée -->
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description"
            name="description" #description="ngModel"
            [(ngModel)]="service.FormData.Description" required />
    </div>

    <!-- Bouton de soumission du formulaire -->
    <input type="submit" class="submit" />

  </form>
</div>