<section class="container">

  <h2>Changer le mot de passe</h2>

  <form>
    <label for="mdp-actuel">Mot de passe actuel :</label>
    <input type="password" class="form-control" id="mdp-actuel" required name="mdp-actuel" />

    <label for="mdp-new">Nouveau mot de passe : </label>
    <input type="password" class="form-control" id="mdp-new" required name="mdp-new" />

    <label for="mdp-confirm">Confirmer le mot de passe :</label>
    <input type="password" class="form-control" id="mdp-confirm" required name="mdp-confirm">

    <input type="submit" class="submit" />
  </form>

</section>