.FormulaireInscriptionConnection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  align-items: center;
  height: 90vh;
}

app-formulaire-connexion {
  background-color: #154734;
  color: white;
  overflow: hidden;
  object-fit: cover;
}


