section {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row: auto;
  align-items: center;
  height: 90vh;
}

app-changer-mdp {
  background-color: #154734;
  color: white;
  overflow: hidden;
  object-fit: cover;
}


